version: '3.8'

services:
  redis:
    image: "redis:alpine"
    restart: always
    environment:
      - REDIS_URL=redis://localhost:6379
    volumes:
      - redis_data:/data
    networks:
      - app-net
    ports:
      - "6379:6379"
  
  app:
    build: .
    restart: always
    env_file: .env
    volumes:
      - .:/app
    depends_on:
      - redis
    networks:
      - app-net
    

networks:
  app-net:
    driver: bridge

volumes:
  redis_data: